*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 2 pxx solid red;
    display:grid;
    row-gap: 20px;
    column-gap: 15px;
    /* grid-template-columns: 100px 200 px 400px ; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 200px 80px;
    justify-content: center;
    align-content:  center;
    justify-self: start;
}

.box {
    border: 2px solid green;
    padding: 12px;
}


#box-1{
    background-color: bisque;
    grid-column-start : 1;
    grid-column-end: 4;
    grid-row: 1/span 4;
}